$indigo-dark: #1e3b68;
$indigo: #355990;
$indigo-200: #9FA8DA;
$gray: #E1E1E1;
$gray-100: #F7F7F7;
$gray-300: #999;
$gray-500: #555;
$white: #ffffff;
$orange: #ff8e1d;
$red-100: #FFB2B2;
$red-300: #E57373;
$blue-gray-200: #B0BEC5;
$black:#000;
$green-100: #E8F5E9;
$green-300: #C8E6C9;
$green-500: #81C785;